@include phone(){
  .solution {

    .solution-bg {
      background-image: url("./../images/solution-bg-media.png");
      min-height: 400px;
    }

  }
}
@include phone-sm(){
  .solution {
    .solution-bg {

      .solution-tittle{
        h3{
          font-size: 32px;
          max-width: 300px;
        }
      }

    }
  }
}