.team{
  padding-bottom:90px;
  .row{
    margin: 0;
    background-color: $dark-lite-color;
    border-radius: 12px;
    .slider{
      padding: 0;
      display: block;
      .slider-img{
        @extend %style-bg;
        height: 500px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
      }
      .link{
        @include link-page($font-size-sm-md,17px,#24A3FF);
        margin: 40px 0 0 40px;
        a{
          &:hover{
            text-decoration: revert;
          }
        }
      }
      .slider-text{
        margin-left:  40px;
        font-style: normal;
        h3{
          @include tittle-item($font-size-xxl, 50px,0 0 20px);
          font-weight: bold;
        }
        p{
          @include text($font-size-lg, 21px);
          color: #B3B3BA;
          font-weight: normal;
          margin-bottom: 5px;
          &:last-child{
            @include text($font-size-md, 22px);
          }
        }
      }
    }
    .slider-mini{
      padding: 0;
      display: none;
      .slider-img-text{
        margin-left: 21px;
        margin-bottom: 21px;
        .img-mini{
          margin-right: 10px;
          img{
            max-width: 60px;
          }
        }
        .text{
          p{
            @include text($font-size-lg, 21px);
            color: #B3B3BA;
            font-weight: normal;
            margin-bottom: 5px;
            &:last-child{
              @include text($font-size-md, 22px);
            }
          }
        }
      }
      .slider-text{
        margin-left:  21px;
        font-style: normal;
        h3{
          @include tittle-item($font-size-xxl, 50px,0 0 20px);
          font-weight: bold;
        }
      }
      .link{
        @include link-page($font-size-sm-md,17px,#24A3FF);
        margin: 40px 0 0 40px;
        a{
          &:hover{
            text-decoration: revert;
          }
        }
      }
    }
  }
}
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding:0;
  margin: 0 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999 px;
  cursor: pointer;
  background-color: #24A3FF;
  background-clip: padding-box;
  border-radius: 50%;
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-indicators .active {
  opacity: 1;
}
.bottom-team{
  bottom: -60px;
}

