//font-size
$font-size-sm: 12px;
$font-size-sm-md: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-lg-xl: 21px;
$font-size-xl: 24px;
$font-size-xl-xxl: 32px;
$font-size-xxl: 42px;
//color
$bright-color:#F0145A;
$dark-lite-color:#F5F5FA;
$Aqua-color:#24A3FF;
$dark-color:Grey;
//hover
$transition:.3s;
//container
$xxl:1400px;
$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;