@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans/OpenSans-Italic.eot");
  src: local("fonts/OpenSans/Open Sans Italic"), local("OpenSans-Italic"), url("./../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("./../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("./../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"), url("./../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans/OpenSans-Regular.eot");
  src: local("fonts/OpenSans/Open Sans Regular"), local("OpenSans-Regular"), url("./../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("./../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("./../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("./../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.team .row .slider .slider-img {
  background-repeat: no-repeat;
  background-size: 100%;
}

.publications .opacity-block .pub-more a, .publications .pub-item .pub-content .text a, .services .services-categories button, .solution img, .header .row .information .languages p {
  cursor: pointer;
  transition: 0.3s;
}

.clients .row .clients-content {
  justify-content: center;
}

.services .categories-content, .solution .solution-bg, .header .row .information, .header .row, .clients .row .clients-content {
  display: flex;
  align-items: center;
}

.successful-cases .row .content-xl, .successful-cases .row .content-sm {
  background-color: #F5F5FA;
  border: 1px solid #FFFFFF;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", "sans-serif";
}

a {
  text-decoration: none;
}

.header {
  background: transparent;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  z-index: 1;
}
.header .row .information {
  color: white;
  justify-content: right;
}
.header .row .information .languages {
  display: flex;
}
.header .row .information .languages p {
  font-weight: bold;
  font-size: 12px;
  padding: 3px 6px;
  background: transparent;
  border-radius: 8px;
  margin: 0;
}
.header .row .information .languages p:hover {
  background-color: #F0145A;
  color: white;
}
.header .row .information ul {
  display: flex;
  margin-bottom: 0;
}
.header .row .information ul li {
  margin-right: 30px;
  font-size: 16px;
}
.header .row .information ul li img {
  cursor: pointer;
}
.header .row .navbar-expand-lg .navbar-nav .nav-link {
  font-weight: normal;
  font-size: 18px;
  color: white;
  text-align: right;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  padding: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.header .row .navbar-expand-lg .navbar-nav .nav-link:hover {
  border-color: white;
}
.header .row .navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: white;
}
.header .row .navbar-light .navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.header .row .navbar-light .navbar-toggler:active {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 5px white;
}
.header .row .navbar-light .navbar-toggler-icon {
  background-image: url("../../../images/menu-header.png");
}

@media (max-width: 992px) {
  .header .row .information ul li b {
    font-size: 13px;
  }
  .header .row .navbar-expand-lg .navbar-nav .nav-link {
    border: none;
  }
  .header .row .navbar-expand-lg .navbar-nav .nav-link:active {
    color: rgba(252, 248, 248, 0.75);
    text-shadow: 0 0 5px white;
  }
}
@media (max-width: 768px) {
  .header .row .information {
    justify-content: space-between;
    color: Grey;
  }
  .header .row .information ul li {
    margin-right: 0;
    display: none;
  }
  .header .row .information ul li:nth-child(2) {
    display: inline-block;
  }
  .header .row .navbar > .container-fluid {
    padding: 0;
  }
  .header .row .navbar-expand-lg .navbar-nav .nav-link:hover {
    border-color: white;
  }
}
@media (max-width: 576px) {
  .header .row .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .header .row .navbar-expand-lg .navbar-nav .nav-link:hover {
    border-color: white;
  }
}
.solution {
  padding-top: 200px;
  background: linear-gradient(26.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.solution .solution-bg {
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("./../images/solution-bg.png");
  background-position: center;
  background-size: contain;
  text-align: center;
  color: white;
  min-height: 645px;
}
.solution .solution-bg .solution-tittle {
  margin-bottom: 10rem;
}
.solution .solution-bg .solution-tittle h3 {
  font-size: 38px;
  line-height: 45px;
  max-width: 500px;
  font-size: 32px;
}
@media (max-width: 768px) {
  .solution .solution-bg {
    background-image: url("./../images/solution-bg-media.png");
    min-height: 400px;
  }
}
@media (max-width: 576px) {
  .solution .solution-bg .solution-tittle h3 {
    font-size: 32px;
    max-width: 300px;
  }
}
.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  color: white;
  padding-top: 80px;
  position: relative;
  margin-bottom: 60px;
}
.services .services-categories {
  width: 45%;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 80px;
}
.services .services-categories button {
  padding: 10px 20px 10px 0;
  margin: 0;
  border-right: 4px solid white;
  color: Grey;
  background-color: transparent;
  border-radius: 0;
  text-align: right;
  font-weight: 600;
}
.services .services-categories button:hover {
  border-right: 4px solid #F0145A;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #ef8080, #f0145a);
}
.services .categories-content {
  flex-wrap: wrap;
  margin-bottom: 80px;
  width: 40%;
}
.services .categories-content h3 {
  font-size: 32px;
  line-height: 38px;
  margin-top: auto;
  margin-bottom: 20px;
}
.services .categories-content p {
  font-size: 17px;
  line-height: 30px;
}
.services a {
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: Grey;
}
.services a:hover {
  text-decoration: revert;
}
.services .title-item {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  font-size: 42px;
  line-height: 50px;
  margin: 0 0 68px;
}
.services .services-item {
  padding: 0 40px 0 0;
  margin-bottom: 58px;
}
.services .services-item:nth-child(3n) {
  padding: 0;
}
.services .services-item .box {
  flex-direction: column;
}
.services .services-item .box h3 {
  font-size: 24px;
  line-height: 28px;
  color: #24a3ff;
}
.services .services-item .box img {
  margin-bottom: 20px;
}
.services .services-item p {
  font-size: 18px;
  line-height: 26px;
}
.services:before, .services:after {
  content: "";
  position: absolute;
  border-radius: 0 0 12px 12px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.services:before {
  bottom: -10px;
  width: 98%;
  background: #CACADB;
}
.services:after {
  bottom: -20px;
  width: 95%;
  background: #E7E7F2;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  background-color: transparent;
}

@media (max-width: 1200px) {
  .services .services-categories {
    font-size: 38px;
    line-height: 50px;
  }
  .services .categories-content h3 {
    font-size: 24px;
    line-height: 38px;
  }
  .services .categories-content p {
    margin: 0;
  }
  .services .services-item:nth-child(3n) {
    padding: 0 40px 0 0;
  }
  .services .services-item .box h3 {
    font-size: 21px;
    line-height: 28px;
  }
  .services .services-item .box img {
    max-width: 70px;
    margin-bottom: 20px;
  }
  .services .services-item p {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (max-width: 992px) {
  .services .services-categories {
    width: 40%;
    font-size: 32px;
    line-height: 50px;
    margin-right: 70px;
  }
  .services .services-categories button {
    padding: 0 20px 0 0;
  }
  .services .categories-content {
    width: 45%;
  }
  .services .categories-content h3 {
    font-size: 21px;
    line-height: 38px;
  }
  .services .categories-content p {
    font-size: 12px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .services .services-categories {
    width: 100%;
    font-size: 28px;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
  }
  .services .services-categories button {
    padding: 0;
    border-right: none;
    text-align: left;
  }
  .services .services-categories button:hover {
    border-right: none;
  }
  .services .categories-content {
    width: 100%;
  }
  .services .categories-content h3 {
    margin-bottom: 10px;
  }
  .services .categories-content p {
    font-size: 12px;
    line-height: 30px;
  }
  .services .title-item {
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #f0145a, #ef8080);
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 68px;
  }
  .services .categories-content h3 {
    font-size: 24px;
    line-height: 38px;
  }
  .services .categories-content p {
    margin: 0;
  }
  .services .services-item {
    margin-bottom: 50px;
    padding: 0;
  }
  .services .services-item:nth-child(3n) {
    padding: 0;
  }
  .services .services-item .box {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .services .services-item .box h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .services .services-item .box img {
    max-width: 64px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .services:before {
    bottom: -10px;
    width: 93%;
    background: #CACADB;
  }
  .services:after {
    bottom: -20px;
    width: 90%;
    background: #E7E7F2;
  }
}
.team {
  padding-bottom: 90px;
}
.team .row {
  margin: 0;
  background-color: #F5F5FA;
  border-radius: 12px;
}
.team .row .slider {
  padding: 0;
  display: block;
}
.team .row .slider .slider-img {
  height: 500px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.team .row .slider .link {
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  margin: 40px 0 0 40px;
}
.team .row .slider .link:hover {
  text-decoration: revert;
}
.team .row .slider .link a:hover {
  text-decoration: revert;
}
.team .row .slider .slider-text {
  margin-left: 40px;
  font-style: normal;
}
.team .row .slider .slider-text h3 {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  font-size: 42px;
  line-height: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.team .row .slider .slider-text p {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  font-weight: normal;
  margin-bottom: 5px;
}
.team .row .slider .slider-text p:last-child {
  font-size: 16px;
  line-height: 22px;
}
.team .row .slider-mini {
  padding: 0;
  display: none;
}
.team .row .slider-mini .slider-img-text {
  margin-left: 21px;
  margin-bottom: 21px;
}
.team .row .slider-mini .slider-img-text .img-mini {
  margin-right: 10px;
}
.team .row .slider-mini .slider-img-text .img-mini img {
  max-width: 60px;
}
.team .row .slider-mini .slider-img-text .text p {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  font-weight: normal;
  margin-bottom: 5px;
}
.team .row .slider-mini .slider-img-text .text p:last-child {
  font-size: 16px;
  line-height: 22px;
}
.team .row .slider-mini .slider-text {
  margin-left: 21px;
  font-style: normal;
}
.team .row .slider-mini .slider-text h3 {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  font-size: 42px;
  line-height: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.team .row .slider-mini .link {
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  margin: 40px 0 0 40px;
}
.team .row .slider-mini .link:hover {
  text-decoration: revert;
}
.team .row .slider-mini .link a:hover {
  text-decoration: revert;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -60px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999 px;
  cursor: pointer;
  background-color: #24A3FF;
  background-clip: padding-box;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .team .row .slider .slider-img {
    height: 370px;
  }
  .team .row .slider .slider-text h3 {
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #f0145a, #ef8080);
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 20px;
  }
}
@media (max-width: 992px) {
  .team .row .slider {
    display: none;
  }
  .team .row .slider-mini {
    display: block;
  }
  .team .row .slider-mini .link {
    margin: 21px 0 0 21px;
  }
}
@media (max-width: 576px) {
  .team {
    padding: 0 20px;
    margin-bottom: 80px;
  }
  .team .row .slider-mini .slider-img-text .text p {
    font-size: 18px;
    line-height: 21px;
  }
  .team .row .slider-mini .slider-text h3 {
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #f0145a, #ef8080);
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 20px;
  }
}
.successful-cases .row {
  border-radius: 12px;
  overflow: hidden;
}
.successful-cases .row h3 {
  padding: 20px;
  margin: 0;
}
.successful-cases .row p {
  padding: 0 20px 20px;
  margin: 0;
}
.successful-cases .row .tittle {
  background-color: #F5F5FA;
  border-radius: 12px 0 0 0;
}
.successful-cases .row .tittle h3 {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  color: #F0145A;
}
.successful-cases .row .content-sm {
  height: 198px;
}
.successful-cases .row .content-sm h3 {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
}
.successful-cases .row .content-sm p {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.successful-cases .row .content-xl {
  height: 256px;
}
.successful-cases .row .content-xl h3 {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
}
.successful-cases .row .content-xl p {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

@media (max-width: 1200px) {
  .successful-cases .row .content-sm h3 {
    font-size: 21px;
    line-height: 28px;
  }
}
@media (max-width: 992px) {
  .successful-cases .row .sm-1 {
    height: 256px;
  }
  .successful-cases .row .content-sm {
    font-size: 21px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .successful-cases .row .content-xl, .successful-cases .row .sm-2, .successful-cases .row .content-sm {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .successful-cases {
    padding: 0 20px;
  }
  .successful-cases .row .content-xl h3, .successful-cases .row .content-sm h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .successful-cases .row .content-xl p, .successful-cases .row .content-sm p {
    padding-bottom: 10px;
  }
}
@media (max-width: 374px) {
  .successful-cases .row .content-xl h3 {
    font-size: 14px;
    line-height: 28px;
  }
  .successful-cases .row .content-sm h3 {
    font-size: 14px;
    line-height: 28px;
  }
}
.clients .row {
  text-align: center;
}
.clients .row h3 {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
  padding: 30px 0;
  margin: 0;
}
.clients .row .clients-content {
  height: 120px;
}
.clients .row .clients-content:nth-child(1) {
  background-color: #1C4280;
}
.clients .row .clients-content:nth-child(2) {
  background-color: #143646;
}
.clients .row .clients-content:nth-child(3) {
  background-color: #F48B30;
}
.clients .row .clients-content:nth-child(4) {
  background-color: #9E4DC3;
}
.clients .row .clients-content:nth-child(5) {
  background-color: #FD9339;
}
.clients .row .clients-content:nth-child(6) {
  background-color: #E2E2E4;
}
.clients .row .clients-content:nth-child(7) {
  background-color: #C71C36;
}
.clients .row .clients-content:nth-child(8) {
  background-color: #DCF3F9;
}
.clients .row .clients-content:nth-child(9) {
  background-color: #EAEAEA;
}
.clients .row .clients-content:nth-child(10) {
  background-color: #282240;
}
.clients .row .clients-content:nth-child(11) {
  background-color: #1D4568;
}
.clients .row .clients-content:nth-child(12) {
  background-color: #000000;
}

.publications {
  padding: 40px 0 0;
  background-color: #F5F5FA;
  position: relative;
}
.publications .pub-tittle h3 {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  font-size: 42px;
  line-height: 50px;
  margin: 0 0 40px;
}
.publications .pub-tittle a {
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
}
.publications .pub-tittle a:hover {
  text-decoration: revert;
}
.publications .pub-item {
  padding: 0 40px 0 0;
}
.publications .pub-item:nth-child(3n+3) {
  padding: 0;
}
.publications .pub-item .pub-content {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 40px;
}
.publications .pub-item .pub-content:nth-child(4) {
  margin-bottom: 0;
}
.publications .pub-item .pub-content:nth-child(5) {
  margin-bottom: 0;
}
.publications .pub-item .pub-content:nth-child(6) {
  margin-bottom: 0;
}
.publications .pub-item .pub-content img {
  width: 100%;
}
.publications .pub-item .pub-content .text {
  padding: 20px;
}
.publications .pub-item .pub-content .text a {
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #24A3FF;
  font-style: normal;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 10px;
}
.publications .pub-item .pub-content .text a:hover {
  text-decoration: revert;
}
.publications .pub-item .pub-content .text a:hover {
  text-decoration: revert;
}
.publications .pub-item .pub-content .text .date {
  font-size: 12px;
  line-height: 14px;
  color: #B3B3BA;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.publications .pub-item .pub-content .text .pub-line {
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 20px;
}
.publications .pub-item .pub-content .text .txt-info {
  font-size: 16px;
  line-height: 22px;
  color: black;
}
.publications .opacity-block {
  height: 200px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
}
.publications .opacity-block .pub-more {
  text-align: center;
}
.publications .opacity-block .pub-more a {
  font-size: 14px;
  line-height: 17px;
  padding: 17px 79px;
  display: inline-block;
  color: #fff;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.publications .opacity-block .pub-more a:hover {
  background: #0990f3;
}

@media (max-width: 992px) {
  .publications .pub-tittle {
    padding: 0 40px;
  }
  .publications .pub-item {
    padding: 0 40px;
  }
  .publications .pub-item:nth-child(3n+3) {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .publications .pub-tittle {
    padding: 0 20px;
  }
  .publications .pub-item {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .publications .pub-item:nth-child(3n+3) {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .publications .pub-item .cont-none {
    display: none;
  }
  .publications .pub-item .pub-content {
    margin-bottom: 20px;
  }
  .publications .pub-item .pub-content:nth-child(3) {
    margin-bottom: 80px;
  }
  .publications .pub-item .pub-content:nth-child(2) {
    margin-bottom: 0;
  }
  .publications .pub-item .pub-content .text {
    padding: 20px;
  }
  .publications .pub-item .pub-content .text .pub-line {
    display: none;
  }
  .publications .pub-item .pub-content .text .txt-info {
    display: none;
  }
  .publications .opacity-block {
    background: transparent;
    bottom: 0;
    height: 0;
  }
}
.footer {
  padding: 0 0 50px;
  background-color: #F5F5FA;
}
.footer .container {
  border-top: 4px #E6E6F0 solid;
  padding-top: 30px;
}
.footer .container .footer-info .info-top address {
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}
.footer .container .footer-info .info-top ul li {
  color: silver;
}
.footer .container .footer-info .info-bottom ul li {
  color: silver;
}
.footer .container .footer-info .info-bottom ul li a {
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer .container .footer-info .info-bottom ul li p {
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  font-style: normal;
  font-weight: bold;
}
.footer .container .footer-comp {
  color: #B3B3BA;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .footer .container .footer-info {
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer .container .footer-comp {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .footer {
    padding-top: 60px;
  }
  .footer .container .footer-info {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer .container .footer-info .info-top, .footer .container .footer-info .info-bottom {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer .container .footer-info .info-top img, .footer .container .footer-info .info-bottom img {
    margin-bottom: 20px;
  }
  .footer .container .footer-info .info-top ul, .footer .container .footer-info .info-bottom ul {
    padding: 0;
    text-align: center;
  }
  .footer .container .footer-info .info-top ul li, .footer .container .footer-info .info-bottom ul li {
    list-style-type: none;
    margin: 0 auto 20px;
  }
  .footer .container .footer-comp {
    justify-content: center;
    text-align: center;
  }
}
.header {
  background: transparent;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  z-index: 1;
}

.services {
  padding-top: 200px;
}

/*# sourceMappingURL=index.css.map */
