.info{
  .name-pub{
    margin: 0 auto;
    border-bottom: solid #E6E6F0 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    h3{
      @include text( $font-size-xl-xxl,38px);
      color: $dark-blue;
    }
    .date {
      @include text($font-size-sm, 14px);
      color: #B3B3BA;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}